@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    max-width: min(100%, 400px);
    margin: 0 1rem;
    border-radius: 0.2rem;
    box-shadow: 1.5px 1.5px rgb(0 0 0 / 10%);
  }
  .Button {
    @include primaryBtn;
    margin: 1rem auto 0;
  }
}

.Pdf .DescriptionContainer {
  margin: 2rem 1rem;
  p {
    margin: 1rem 0;
  }
}

.Pdf .Categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.Pdf .Category {
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid $light-gray-1;
  border-radius: 0.5rem;
  background-color: $light-gray-2;
}


@media screen and (min-width: $breakpoint-md) {
  .Pdf {
    flex-direction: row;
    img {
      max-width: 350px;
      margin: 0 1rem;
    }
    .Button {
      margin: 1rem 0;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .Pdf {
    justify-content: flex-start;
    img {
      max-width: 500px;
      margin: 0 1.5rem;
    }
  }
  .PDF .DescriptionContainer {
    margin: 1rem 1.5rem;
  }
}
