@import "../globalStyles/global.scss";

.PdfArticle {
  display: grid;
  grid-template-columns: 1fr;
}
.PdfArticle .Description {
  margin: 1rem 1rem;
}

.PdfArticle .CenteredText {
  text-align: justify;
  margin: 1rem auto;
  max-width: 250px;
}

@media screen and (min-width: $breakpoint-sm) {
  .PdfArticle .CenteredText {
    max-width: 400px;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .PdfArticle {
    grid-template-columns: 1fr 760px 1fr;
  }
  .PdfArticle .CenteredText {
    max-width: 500px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .PdfArticle {
    grid-template-columns: 1fr 960px 1fr;
  }
  .PdfArticle .Description {
    margin: 1rem 1.5rem;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .PdfArticle {
    grid-template-columns: 1fr 1110px 1fr;
  }
}

@media screen and (min-width: $breakpoint-xxl) {
  .PdfArticle {
    grid-template-columns: 1fr 1260px 1fr;
  }
}

@media screen and (min-width: $breakpoint-xxxl) {
  .PdfArticle {
    grid-template-columns: 1fr 1410px 1fr;
  }
}

@media screen and (min-width: $breakpoint-xxxxl) {
  .PdfArticle {
    grid-template-columns: 1fr 1560px 1fr;
  }
}

@media screen and (min-width: $breakpoint-max) {
  .PdfArticle {
    grid-template-columns: 1fr 1710px 1fr;
  }
}