@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Footer {
  width: 100%;
  background: $dark-gray;
  padding-bottom: 2rem 0;
  height: fit-content;
}

// class to center footer content
.FooterWrapper {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: $breakpoint-md) {
  .FooterWrapper {
    max-width: 760px;
  }
  
}
@media (min-width: $breakpoint-lg) {
  .FooterWrapper {
    max-width: 960px;
  }
}
@media (min-width: $breakpoint-xl) {
  .FooterWrapper {
    max-width: 1110px;
  }
}
@media (min-width: $breakpoint-xxl) {
  .FooterWrapper {
    max-width: 1260px;
  }
}
@media (min-width: $breakpoint-xxxl) {
  .FooterWrapper {
    max-width: 1410px;
  }
}
@media (min-width: $breakpoint-xxxxl) {
  .FooterWrapper {
    max-width: 1560px;
  }
}
